:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #222222;
    --primary-color: #F86B39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.grid__column-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.grid__column-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.grid__column-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.334%;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes translate {
    from {
        opacity: 0.4;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes translateX {
    from {
        opacity: 0.4;
        transform: translateX(30%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes translateY {
    from {
        opacity: 0.4;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}