/* App */
.app {

}

/* Header */
.header {
    border-bottom: 1px solid #F2F2F2;
}
.header__app {
    width: 1410px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.header__sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 70px;
    height: 70px;
    padding: 10px;
    background: rgba(0,0,0,.04);
    border-radius: 50%;
    margin-right: 12px;
}

.header__logo-link {
}

.svg-icon {
    animation: fadeIn ease-in 0.2s;
}
.header__logo-link:hover .svg-icon {
    fill: #F65E39;
    animation: fadeIn ease-in 0.5s;
}

.header__search {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.header__search-input {
    height: 100%;
    width: 300px;
    border-radius: 4px;
}

.header__search-booking {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-booking::after,
.header__search-date::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 38px;
    border-right: 1px solid #ccc;

}


.header__search-input-icon {
    margin-left: 16px;
    margin-top: 1px;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold !important;
}

.header__search-input-location {
    margin-left: 10px;
    outline: none;
    border: 0px solid;
}

.header__search-input-filed {
    box-shadow: inset 0 0 0 2px rgb(0, 0, 0, 0.14);
    cursor: pointer;
}


.header__search-input-location::placeholder {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 550;
}

.header__search-date {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.header__search-date-icon {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold !important;
    margin-right: 15px;
}

.header__search-date-text {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 550;
    position: relative;
}

.header__search-date-text:hover,
.header__search-date-icon:hover {
    cursor: pointer;
}

/* Modal calendar */
.calendar {
    position: absolute;
    top: calc(100% + 20px);
    left: -315px;
    /* z-index: 1; */
    display: none;
}

.calendar__overlay {
    background-color: #ccc;
}

.calendar__body {
    height: 390px;
    width: 700px;
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.header__search-guest {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
}

.header__search-guest-number {
    margin-left: 18px;
}

.header__search-guest-user {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold !important;
}

.header__search-guest-user-text {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 550;
}
.header__search-btn {
    height: 36px;
    width: 56px;
    margin-right: 10px;
    background-color: #555555;
    text-align: center;
    border-radius: 4px;
}

.header__search-btn-icon {
    line-height: 36px !important;
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: bold !important;
}

.header__nav {
    width: 500px;
}

.header__nav-list {
    margin-left: 20px;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    text-align: center;
}

.header__nav-item-dot {
    position: relative;
}

.header__nav-item-dot::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FB9236;
}


.header__nav-item-logo {
    width: 110px;
    height: 38px;
    background-color: #F6F6F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__nav-item-logo:hover {
    /* cursor: pointer; */
}

.header__nav-item-img {
    margin: 0 6px 0 8px;
    width: 24px;
    height: 24px;
}

.header__nav-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 550;
}

.header__nav-item-img:hover,
.header__nav-item-icon:hover {
    cursor: pointer;
}

.header__nav-item-link:hover {
    color: var(--primary-color  );
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;
}

.header__nav-item-icon {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold !important;
    margin-left: 8px ;
}


/* Currency box */
.currency__box {
    position: absolute;
    top: calc(100% + 24px);
    right: 0;
    z-index: 1;
    width: 470px;
    height: 220px;
    display: none;
    background-color: var(--white-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    animation: translate ease-in 0.5s;
}


.currency__box::after{
    z-index: -10;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-left: 0;
    bottom: 0;
    top: -17px;
    right: 40px;
    border: 2px solid #fff;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent rgba(0, 0, 0, 0.2);
    transform-origin: 0 0;
    transform: rotate(45deg);
  }



.currency__box-languages,
.currency__box-money {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #D6D6D6;
    margin: 10px 0 10px 10px;
}

.currency__box-language-item,
.currency__box-money-item {
    margin-top: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.currency__box-language-item:hover,
.currency__box-money-item:hover {
    cursor: pointer;
}

.currency__box-language-item-img {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.currency__box-language-item-text {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 550;
}



.currency__box-money-item:hover .currency__box-money-item-lable,
.currency__box-money-item:hover .currency__box-money-item-text,
.currency__box-language-item-text:hover {
    color: var(--primary-color);
}

.currency__box-money {

}

.currency__box-money-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.currency__box-money-item:hover  {
    color: var(--primary-color);
}

.currency__box-money-item-lable {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    display: block;
}

.currency__box-money-item-text {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 4px;
    margin-left: 16px;
}

/* Container */

.container {
    margin-top: 40px;
    height: 1000px;
}

.container__slider {
    position: relative;
}

.container__slider-link {
    text-decoration: none;
}

.container__slider-img {
    border-radius: 20px;
    border-style: none;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.translateX {
    animation: translateX ease-in 0.5s;
}

.translateY {
    animation: translateY ease-in 0.5s;
}

.slick__dots {
    position: absolute;
    bottom: 20px;
    right: 20px;
    list-style: none;
    display: flex;
}

.slick__dot-item {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-right: 10px;
}

/* Greeting */
.container__greeting {
    margin-top: 60px;
}

.container__greeting-title {
    font-size: 2.5rem;
    color: var(--text-color);
}

.container__greeting-text,
.container__greeting-connent {
    margin-top: 24px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.container__greeting-connent-link {
    color: var(--text-color);
}

.container__greeting-connent-link:hover {
    color: var(--primary-color);
    animation: fadeIn ease-in 0.5s;
}

/* Place */
.container__place {
    margin-top: 70px;

}

.container__place-title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.container__place-text {
    margin-top: 22px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    color: var(--text-color);
}
.container__place-item {
    display: block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.container__place-item-img {
    width: 244px;
    height: 305px;
    border-radius: 4px;
    transition: transform 0.2s;
}

.container__place-item-img:hover {
    transform: scale(1.1);
}

.container__place-item-text {
    position: absolute;
    left: 40px;
    bottom: 38px;
    font-size: 1.6rem;
    /* line-height: 2.2rem; */
    color: var(--white-color);
}

.container__place-item-province {
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: var(--white-color);
    font-weight: 600;
}

.container__place-item-price {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--white-color);
    font-weight: 600;
}

/* Container Endow */

.container__endow {
    margin-top: 90px;
}

.container__endow-title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.container__endow-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__endow-text {
    margin-top: 22px;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.container__endow-link {
    margin-top: 24px;
    font-size: 1.6rem;
    color: var(--primary-color);
    text-decoration: none;
}

.container__endow-item {
    display: block;
    overflow: hidden;
}

.container__endow-item-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Container recommend*/
.container__recommend {
    margin-top: 90px;
}

.container__recommend-title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.container__recommend-text {
    margin-top: 22px;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.container__recommend-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container__recommend-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.container__recommend-img:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.container__recommend-sub-img {
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.container__recommend-sub-text {
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.container__recommend-sub-text:hover {
    color: var(--primary-color);
    animation: fadeIn ease-in 0.2s;
}

/* Container discovery */
.container__discovery {
    margin-top: 90px;
}

.container__discovery-title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.container__discovery-text {
    margin-top: 22px;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.container__discovery-item {
    text-decoration: none;
    display: block;
    width: 420px;
    height: 260px;
    background-image: linear-gradient(#EEEEEE, #8d8686);
    border-radius: 4px;
    position: relative;
}

.container__discovery-img {
    
}

.container__discovery-post {
    position: absolute;
    bottom: 36px;
    left: 30px;
}

.container__discovery-post-header {
    color: var(--white-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 4px 8px;
    background-color: #BEBEBE;
    border-radius: 40px;
    text-align: center;
    width: 265px;
    margin-bottom: 120px;
}

.container__discovery-post-header:hover {
    animation: fadeIn ease-in 0.5s;
    background-color: #5F5F5F;
}

.container__discovery-post-title {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold;
}

/* Container use */
.container__use {
    margin-top: 90px;
}

.container__use-title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.container__use-text {
    margin-top: 22px;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.container__use-item {
    text-decoration: none;
}

.container__use-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}


/* Container app */
.container__app {
    margin-top: 100px;
    display: flex;
    padding: 10px 10px;
}

.container__app-introduce {
    flex: 1;
}

.container__app-introduce-svg {
    width: 343;
    height: 70px;
    margin-bottom: 24px;
}

.container__app-introduce-heading {
    color: var(--text-color);
    font-size: 3rem;
    margin-bottom: 32px;
    font-weight: bold;
}

.container__app-text {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 20px;

}

.app-introduce__action {
    display: flex;
    margin-top: 80px;
}

.qr-code {
    padding: 20px 12px;
    border: 1px solid #ccc;
}

.qr-code-img {
    width: 148px;
    height: 148px;
    margin-bottom: 0;
}

.app-introduce__action-apps {
    margin-top: 12px;
    margin-left: 55px;
}

.app-introduce__action-img {
    width: 180px;
    height: 56px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.container__app-mobile {
    flex: 1;
}

.container__app-mobile-img {
    width: 100%;
}

/* Container about */
.container__about {
    margin-top: 80px;
}

.container__about-svg {
    width: 170px;
    height: 35px;
    margin-bottom: 35px;
}

.container__about-contact {
    display: flex;
    margin-bottom: 30px;
}

.container__about-contact-svg {

}

.container__about-contact-content {
    margin-left: 12px;
}

.container__about-contact-content-title {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.container__about-contact-content-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.container__about-contact-content-link:hover {
    color: var(--primary-color);
    animation: fadeIn ease-in 0.5s;
}

.widget {

}

.widget__title {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.widget__menu {
    padding-left: 0;
    list-style: none;
}

.widget__menu-item {
    margin-bottom: 16px;
}

.widget__menu-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.widget__menu-item a:hover {
    animation: fadeIn ease-in 0.3s;
    color: var(--primary-color);
}

.download__apps {
    width: 220px;
}

.download__apps-title {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.download__apps-action {
    display: flex;
}

.download__apps-action-qrcode {
   
}

.download__apps-action-qrcode-img {
    width: 72px;
    height: 72px;
    padding: 10px;
    border: 1px solid #ccc;
}   

.download__apps-action-apps {
    margin-left: 32px;
}

.download__apps-action-img {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}
